.fav-badge {
    cursor: pointer;
    position: relative;
  }
  
  .fav-badge__count {
    background-color: rgb(0, 0, 0);
    border-radius: 99px;
    bottom: 60%;
    height: 20px;
    left: 70%;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 20px;
  
    span {
      color: white;
      font-size: 16px;
      font-weight: 500;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }