.fav-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 0.755rem;
  cursor: pointer;
}

.filters-container {
  border-right: 0.18rem solid #dee2e6;
  height: 100%;
}

.recipe-card {
  --bs-card-height: 20rem !important;
}

.smaller-text {
  font-size: 0.8rem;
}

.smaller-title {
  font-size: 1rem !important;
}