.fav-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
  padding-top: 1rem;
  cursor: pointer;
}

.filters-container {
  border-right: 0.18rem solid #dee2e6;
  height: 100%;
}

.recipe-card {
  height: 50rem;
  --bs-card-height: 24rem !important;
}

.smaller-text {
  font-size: 0.8rem;
}