.card {
  height: 50rem;
  --bs-card-height: 27rem !important;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #3a3755 !important;
}

.header-image {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2)),
    url("../assets/brooke-lark-08bOYnH_r_E-unsplash.jpg");
  background-size: 120%;
  background-position: 90% 10%;
}

.header-text {
  /* background-color: rgba(255, 255, 255, .7); */
  width: 50% !important;
  color: #3a3755;
  /* text-shadow: 0 0 2px #28263b; */
}

.header-title {
  color: #3a3755;
}