.recipe-card {
<<<<<<< HEAD
  width: 20rem;
  margin: 0;
  padding: 0;
}

.recipe-card-img {
  padding: 0;
}

.featured-title {
  padding-bottom: 1rem;
=======
  padding: 0;
  width: 100%;
>>>>>>> main
}