.recipe-card {
  /* height: 55rem; */
  --bs-card-height: 28rem !important;
}

.recipe-card:hover {
  box-shadow: 0 0 2px #3a3755 !important;
}

.recipe-card-img:hover {
  cursor: pointer;
}

.header-image {
  background-image:
    /* linear-gradient(to right, rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2)), */
    url("../assets/brooke-lark-08bOYnH_r_E-unsplash.jpg");
  background-size: cover;
  background-position: 90% 12%;
  background-repeat: no-repeat;
}

.header-text {
  width: 50% !important;
  color: #3a3755;
  /* text-shadow: 0 0 2px #28263b; */
}

.header-title {
  color: #3a3755;
}

@media (max-width: 1000px) {

  .header-text,
  .header-title {
    background-color: rgba(255, 255, 255, .7);
    width: 50% !important;
  }
}

div.card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
}